* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
}

img {
  width: 100%;
}

.gridContainer {
  display: grid;
}

.main {
  padding: 7%;
}

.title {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
    color: #b3b3b3;
  }
}

.content {
  color: #b3b3b3;
  p {
    font-size: 1rem;
    margin: 1rem 0rem;
    .spam {
      animation: blink 0.6s infinite;
    }
  }
  ul {
    list-style-type: none;
  }
}

.footer {
  padding: 7%;
  li {
    font-size: 50px;
    text-align: center;
    a {
      color: black;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
