<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Larry</title>
</head>
<body>
    <div class = "gridContainer">
        <div class="header">
            <img id="mainProfilePhoto" src="../public/img/profile.jpg" alt="profile picture">
        </div>
        <div class="main">
            <div class="title">
                <h1>Hi, I'm Larry Merino</h1>
                <p>web developer</p>
            </div>
            <div class="mainTextContent">
                <p>
                    My goal is help you to develop software that meets the desired objectives in the best way possible.
                </p>
                <p>
                    I can use both frontend and backend technologies, a proof of this is the web that you are reading right now, made by me from scratch, using technologies such as HTML, CSS (Sass) on the client side and an AWS instance (Lightsail ) with Nginx as the server-side engine.
                </p>
                <p>
                    I can also work in the systems area to the point of being able to deploy a basic local server or a remote server with cloud services.
                </p>
                <p>
                    Beyond the purely technical, I can also do it well with dealing with people and integrate well with new teams and work environments.
                </p>
                <p>
                    Technologies I know: <spam>_</spam>
                </p>
                <ul>
                    <li>> Git</li>
                    <li>> JavaScript</li>
                    <li>> Ajax</li>
                    <li>> Java</li>
                    <li>> NodeJs</li>
                    <li>> Express</li>
                    <li>> MySQL</li>
                    <li>> MongoDB</li>
                    <li>> PugJs</li>
                    <li>> EJS</li>
                    <li>> Apache</li>
                    <li>> Nginx</li>
                    <li>> AWS</li>
                    <li>> Ubuntu Server</li>
                    <li>> Bash</li>
                    <li>> HTML</li>
                    <li>> CSS</li>
                    <li>> Sass</li>
                </ul>

            </div>
        </div>
        <div class ="footer">
            <ul>
                <li>
                    <a href="https://github.com/LarryMerino" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/larry-merino/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>