<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Larry</title>
</head>
<body>
    <div class = "gridContainer">
        <div class="header">
            <img id="mainProfilePhoto" src="../public/img/profile.jpg" alt="profile picture">
        </div>
        <div class="main">
            <div class="title">
                <h1>Hi, I'm Larry Merino</h1>
                <p>web developer</p>
            </div>
            <div class="mainTextContent">
                <p>
                    Mi meta es ayudarte a desarrollar software que cumpla con los objetivos deseados
                </p>
                <p>
                    Donde más puedo ser de utilidad es en el área de backend pero también puedo utilizar tecnologías de frontend, una prueba de ello es la web que estás leyendo ahora mismo, hecha por mí desde cero, no obstante, la curiosidad me ha llevado a aprender más sobre tecnologías de lado servidor.
                </p>
                <p>
                    También puedo desenvolverme en el área de sistemas hasta el punto de poder desplegar un servidor local o un servidor remoto con servicios en la nube.
                </p>
                <p>
                    Más allá de lo puramente técnico, también puedo desenvolverme bien con el trato a personas y me integro bien con nuevos equipos y entornos de trabajo.
                </p>
                <p>
                    Tecnologías que conozco: <spam>_</spam>
                </p>
                <ul>
                    <li>> Git</li>
                    <li>> JavaScript</li>
                    <li>> Ajax</li>
                    <li>> Java</li>
                    <li>> NodeJs</li>
                    <li>> Express</li>
                    <li>> MySQL</li>
                    <li>> MongoDB</li>
                    <li>> PugJs</li>
                    <li>> EJS</li>
                    <li>> Apache</li>
                    <li>> Nginx</li>
                    <li>> AWS</li>
                    <li>> Ubuntu Server</li>
                    <li>> Bash</li>
                    <li>> HTML</li>
                    <li>> CSS</li>
                    <li>> Sass</li>
                </ul>

            </div>
        </div>
        <div class ="footer">
            <ul>
                <li>
                    <a href="https://github.com/LarryMerino" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/larry-merino/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>